.main-title {
  color: var(--black);
  font-size: clamp(34px, 5.7vw, 64px);
  font-weight: 700;
  line-height: 1.25;
}

.main-subtilte {
  color: var(--secondary-black);
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 700;
}

.second-subtitle {
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 700;
}
