.main-text {
  color: var(--dark-grey);
  font-size: 20px;
  font-weight: 400;
}

.second-text {
  color: var(--secondary-black);
  font-size: 18px;
  font-weight: 400;
}

.thrid-text {
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 600;
}

.forth-text {
  color: var(--secondary-black);
  font-size: 14px;
  font-weight: 400;
}
