:root {
  --white: #fffffe;
  --light-grey-primary: #eff0f3;
  --light-grey-secondary: #e4e5e9;
  --grey: #c0c0c0;
  --dark-grey: #9a9494;
  --black: #2b2c34;
  --secondary-black: #000;
  --blue: #6246ea;
  --main-bg: rgba(239, 240, 243, 1);
}
