/* Ширина полотна (макету) */

/* Загальний відступ у контейнера */
/* (30 = по 15px ліворуч і праворуч, 0 = немає відступу) */

:root {
  --container-padding: 15px;
  --sm-container-padding: 10px;

  /* Ширина спрацьовування першого брейкпоінту */
  --pc: 1250px; /* Замініть значення на ваше */
  --fullPc: calc(var(--pc) + var(--container-padding) * 2);

  /* ПК, ноутбуки, деякі планшети у горизонтальному положенні */
  --laptop-medium: 1440px; /* Typical high-res laptop or smaller desktop */
  --tablet: 1024px; /* Планшети, деякі телефони в горизонтальному положенні */
  --mobile: 767.98px; /* Телефони L */
  --mobileSmall: 479.98px; /* Телефони S */
  --mobileSuperSmall: 374.98px;

  /* Базові висоти екрану */

  --desktop-tall: 1079px;
  --desktop-standard: 900px;
  --laptop-short: 768px;
  --laptop-super-short: 680px;
}
